@page "/produto/{slug}/{id}"
@model MaterialDeContrucaoAppWeb.Pages.DetalhesModel


<h2 class="my-3">@Model.Produto.Nome</h2>

<div class="row">

    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Produto.ImagemUrl">
    </div>

    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>@Model.Produto.Descricao</p>
        <h4 class="my-3">Mais Info:</h4>
        <ul>
            @if (Model.DescricaoMarca is not null)
            {
                <li>
                    <label asp-for="Produto.MarcaId"></label>:
                    @Html.DisplayFor(model => model.DescricaoMarca)
                </li>
            }
            @if (Model.Produto.Categorias.Any())
            {
                <li>
                    <label asp-for="Produto.Categorias"></label>:
                    @string.Join(", ", Model.Produto.Categorias.Select(item => item.Descricao))
                </li>
            }
            <li>
                <label asp-for="Produto.Preco"></label>:
                @Html.DisplayFor(model => model.Produto.Preco)
            </li>
            <li>
                <label asp-for="Produto.DisponibilidadeEstoque"></label>:
                @Html.DisplayFor(model => model.Produto.DisponibilidadeEstoqueFormatada)
            </li>
            <li>
                <label asp-for="Produto.DataCadastro"></label>:
                @Html.DisplayFor(model => model.Produto.DataCadastro)
            </li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn my-3 btn-primary"
               asp-page="/Editar" asp-route-id="@Model.Produto.ProdutoId">Editar</a>
        }
    </div>

</div>
